html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

canvas {
  display: block;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}
